{% extends "base.html" %}
{% block playnow %}
	<div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">
		<h4>NFE v2.4</h4>
		<br/>
		-Orochimaru's Bite cooldown on people is now 1 Reboot instead of 1 Day.
		<br/>
		-Juuin: Gravity chakra usage reduced, and now the jutsu lasts longer.
		<br/>
		-Momoshiki's Reincarnation doesn't affect Party Members anymore.
		<br/>
		-Hakke Rokujuuyon Shoo and Hakke Hyaku Nijuuhachi Shoo nerfed.
		<br/>
		-Tournaments now always give Ryo alongside the other prize.
		<br/>
		-Enton: Kagutsuchi(Sword) projectiles now uses 3 tiles.
		<br/>
		-Cave Bosses now give more EXP, but have higher stats.
		<br/>
		-Battle Royale events now give 1 Fuuinjutsu Coin.
		<br/>
		-Juuin Art: Bullets now stays a longer time.
		<br/>
		-Kamaitachi no Jutsu cooldown reduced.
		<br/>
		-Increased certain NPCs respawn speed.
		<br/>
		-Added more moves to the Cave NPCs.
		<br/>
		-Juuin: Berserk lasts longer now.
		<br/>
		-Increased NPCs defense.
		<br/>
		-Fixed bugs.
	</div>
{% endblock %}
